#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.matchRow {
  background-color: rgb(26, 26, 26);
  border-radius: 4px;
}

.matchContainer {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}